@{
    ViewData["Title"] = "Home Page";
}


    
<div class="text-center">
   


<div class="image-container">
    <img src="~/images/CINEMALOGO.jpg" class="full-width-image" alt="Cinema Logo">
</div>

</div>